RewriteEngine on
RewriteRule ^logout/ logout.php [NC,L,QSA]
RewriteRule ^([^/]+)/([^/]+)/$ index.php?type=$1&path=$2 [NC,L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/$ index.php?path=$1 [NC,L,QSA]
RewriteCond %{THE_REQUEST} ^.*/index\.php 
RewriteRule ^(.*)index.php$ /$1 [R=301,L]
